<div class="container my-3 text-center">
    <h1><%= pageName %></h1>
    <div class="sub-nav">
        <ul class="nav nav-pills border-top border-bottom">
            <li class="nav-item"><i class="bi bi-house-door-fill nav-icon"></i><a href="/dashboard" class="nav-link">Home</a></li>
            <li class="nav-item"><i class="bi bi-person-fill nav-icon"></i><a href="/dashboard/users" class="nav-link">Members</a></li>
            <li class="nav-item"><i class="bi bi-award-fill nav-icon"></i><a href="/dashboard/badges" class="nav-link">Badges</a></li>
            <li class="nav-item"><i class="bi bi-file-text-fill nav-icon"></i><a href="/dashboard/sop" class="nav-link">SOPs</a></li>
            <li class="nav-item"><i class="bi bi-chevron-double-up nav-icon"></i><a href="/dashboard/ranks" class="nav-link">Ranks</a></li>
            <li class="nav-item"><i class="bi bi-file-easel-fill nav-icon"></i><a href="/dashboard/missions" class="nav-link">Missions</a></li>
            <!-- <li class="nav-item"><img src="/img/badge/Placeholder_Badge.png"><a href="/dashboard/loas" class="nav-link">LOAs</a></li> -->
            <!-- <li class="nav-item"><img src="/img/badge/Placeholder_Badge.png"><a href="/dashboard/events" class="nav-link">Events</a></li> -->
            <!-- <li class="nav-item"><img src="/img/badge/Placeholder_Badge.png"><a href="/dashboard/trainings" class="nav-link">Trainings</a> -->
            </li>
        </ul>
    </div>
</div>