<div class="container">
    <div class="row" id="footerRow">
      <div class="col">
        <img class="sm-img" src="/img/gol-logo.png" alt="GOL Logo">
      </div>

      <div class="col">
        <p id="footerText">
          Some aspects and content included in this website are fictional. Guerrillas of Liberation is an online gaming community that simulates real-world military operations using <b>ArmA 3</b>, a sandbox video game for PC developed by Bohemia Interactive.
          Any usage of military or nation specific logos, flags or imagery is used for historical representation and fair use.<br>
          <br>
          The GOL logo, GW modification, gol-clan.com are the sole intellectual property of <b>Guerrillas of Liberation (GOL)</b> and it's rights holders. All rights are reserved. ©2019 - 2025
        </p>
      </div>
    </div>
  </div>