<header class="navbar navbar-expand-lg navbar-dark" role="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home"><img src="/img/logo_new_thumb.webp" alt="logo" id="headerlogo" height="60"></a>
    <div class="vl"></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home" id="homeEntry">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about" id="aboutEntry">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/orbat" id="orbatEntry">ORBAT</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
            id="resourcesDropdown">
            Resources
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/ranks" id="ranksEntry">Ranks</a></li>
            <li><a class="dropdown-item" href="/badges" id="badgeEntry">Badges</a></li>
            <li><a class="dropdown-item" href="/sop" id="sopEntry">SOPs</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/mods" id="modEntry">Mod List</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
            id="userDropdown">
            User
          </a>
          <ul class="dropdown-menu">
            <% if (typeof loggedin !== 'undefined' && loggedin) { %>
            <li><a href="/profile?=<%= username %>" class="dropdown-item" id="profileEntry">My Profile</a></li>
              <li><a href="/dashboard" class="dropdown-item" id="dashEntry">Dashboard</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a href="/passwordchange" class="dropdown-item" id="passEntry">Change Password</a></li>
            <li><a href="/Logout" class="dropdown-item" id="loginEntry">Log Out</a></li>
            <% } else { %>
            <li><a href="/Login" class="dropdown-item" id="loginEntry">Log In</a></li>
            <li><a href="/Register" class="dropdown-item" id="registerEntry">Register</a></li>
            <% } %>
          </ul>
        </li>
        <% if (typeof loggedin === 'undefined' || !loggedin) { %>
        <li class="nav-item"><a href="/discord" class="nav-link">Join <i class="bi bi-box-arrow-up-right"></i></a></li>
        <% } %>
      </ul>

      <% if (username !== 'undefined' && username) { %>
      <div class="navbar-text">
        <h2>Welcome Back, <span class="sec-highlight"><%= username %></span></h2>
      </div>
      <% } %>
    </div>
  </div>
</header>

<script>
  var pageTitle = "<%= pageTitle %>"
</script>
<script src="/scripts/nav.js"></script>