<header class="d-flex flex-wrap py-3 border-bottom">
    <a href="/" id="headerLogo">
      <span class="fs-4"><img id="navIcon" src="/img/logo_new.png" alt="logo"></span>
      <h2 class="fs-4" id="headerTitle">Guerrillas of Liberation</h2>
    </a>

    <% if (username !== 'undefined' && username) { %>
    <div class="welcome"> <h2>Welcome, <span class="sec-highlight"><%= username %></span></h2></div>
  <% } %>

    <nav>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/home" class="nav-link" id="homeEntry">Home</a></li>
        <li class="nav-item"><a href="/orbat" class="nav-link" id="orbatEntry">ORBAT</a></li>
        <li class="nav-item"><a href="/about" class="nav-link" id="aboutEntry">About</a></li>
        <li class="nav-item"><a href="/ranks" class="nav-link" id="ranksEntry">Ranks</a></li>
        <li class="nav-item"><a href="/Badges" class="nav-link" id="badgeEntry">Badges</a></li>
        <li class="nav-item"><a href="/SOP" class="nav-link" id="sopEntry">SOPs</a></li>
        <% if (typeof loggedin !== 'undefined' && loggedin) { %>
          <li class="nav-item"><a href="/dashboard" class="nav-link" id="dashEntry">Dashboard</a></li>
          <li class="nav-item"><a href="/Login" class="nav-link" id="loginEntry">Log Out</a></li>
        <% } else { %>
          <li class="nav-item"><a href="/Login" class="nav-link" id="loginEntry">Log In</a></li>
          <li class="nav-item"><a href="/Register" class="nav-link" id="registerEntry">Register</a></li>
          <li class="nav-item"><a href="/discord" class="nav-link">Join</a></li>
          <% } %>
      </ul>
    </nav>
    <div id="hamburger" onclick="toggleMobileNav(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
      <ul class="mobile-nav">
        <li class="nav-item mobile-nav-item"><a href="/home" class="nav-link" id="homeEntry">Home</a></li>
        <li class="nav-item mobile-nav-item"><a href="/orbat" class="nav-link" id="orbatEntry">ORBAT</a></li>
        <li class="nav-item mobile-nav-item"><a href="/about" class="nav-link" id="aboutEntry">About</a></li>
        <li class="nav-item mobile-nav-item"><a href="/ranks" class="nav-link" id="ranksEntry">Ranks</a></li>
        <li class="nav-item mobile-nav-item"><a href="/Badges" class="nav-link" id="badgeEntry">Badges</a></li>
        <li class="nav-item mobile-nav-item"><a href="/SOP" class="nav-link" id="sopEntry">SOPs</a></li>
        <li class="nav-item mobile-nav-item"><a href="/Login" class="nav-link" id="loginEntry">Log In</a></li>
        <li class="nav-item mobile-nav-item"><a href="/discord" class="nav-link">Join</a></li>
      </ul>
    </div>
</header>

<script>var pageTitle = "<%= pageTitle %>" </script>
<script src="/scripts/nav.js"></script>