<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GOL Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/theme.css">
    <script src="scripts/logoHover.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<div class="container">
    <%- include('../partials/headernav', {pageTitle: "About"}) %>
  </div>

<body>
    <main>
        <div class="container my-5 text-center">
            <h1 class="mainHead fw-bold">About Us</h1>
        </div>

        <div class="container my-5">
            <p>
                The Guerrillas of Liberation was founded in 2003 by a group of young guys. Since then it has gone through all the stages a online community can go through and still goes on today.
            </p>

            <h3>Quick Points</h3>
            <p>
                We are a well-established group in the ArmA community, founded in 2003.<br>
                We are a realism unit, but strike a great balance between realism and fun.<br>
                We'll help you improve with training, and we take pride in seeing our members grow both individually and as team members.<br>
                Our editors are always looking to create and improve our missions to provide a fun yet challenging experience!
            </p>

            <h3>Operations</h3>
            <p>
                Thursdays: (6:50PM - 10PM GMT) Is our Training night. We complete at least an hour long training on a specific subject, followed by an optional 2 hour mission.<br>
                Sundays (5PM - 8PM GMT) is our Main Event. A banger 3 hour mission.
            </p>

            <h3>Requirements</h3>
            <p>
                <ul>
                    <li>Must be 18+ (Exceptions can be made at 15-17)</li>
                    <li>Own legal copy of ARMA 3 and Apex.</li>
                    <li>Have a functioning Microphone.</li>
                    <li>Be able to speak and understand English to an acceptable level.</li>
                    <li>Be able to attend most Thursdays & Sundays.</li>
                    <li>Multi-Claning is allowed as long as events do not conflict</li>
                    <li>Have available drive space for our Modset (~60Gb)</li>
                </ul>
            </p>

            <p>More information TBA</p>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>
    </main>

  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>