<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GOL Badges</title>
  <link rel="icon" type="image/png" href="img/logo.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/theme.css">
  <script src="scripts/logoHover.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<%- include('../partials/headernav', {pageTitle: "Dashboard"}) %>


<body>
  <main>
    <div class="container my-5 text-center">
      <h1>Dashboard</h1>
      <div class="sub-nav">
        <ul class="nav nav-pills border-top border-bottom">
          <li class="nav-item"><img src="img/badge/Placeholder_Badge.png"><a href="" class="nav-link">Home</a></li>
          <li class="nav-item"><img src="img/badge/Placeholder_Badge.png"><a href="" class="nav-link">Users</a></li>
          <li class="nav-item"><img src="img/badge/Placeholder_Badge.png"><a href="" class="nav-link">Badges</a></li>
          <li class="nav-item"><img src="img/badge/Placeholder_Badge.png"><a href="" class="nav-link">SOPs</a></li>
          <li class="nav-item"><img src="img/badge/Placeholder_Badge.png"><a href="" class="nav-link">Ranks</a></li>
          <li class="nav-item"><img src="img/badge/Placeholder_Badge.png"><a href="" class="nav-link">LOAs</a></li>
          <li class="nav-item"><img src="img/badge/Placeholder_Badge.png"><a href="" class="nav-link">Events</a></li>
          <li class="nav-item"><img src="img/badge/Placeholder_Badge.png"><a href="" class="nav-link">Trainings</a></li>
        </ul>
      </div>
    </div>

    <div class="container my-5">
      <div class="row">

      </div>       
    </div>

    <script src="scripts/popbadges.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
    <script defer>var isloggedIn = "<%= loggedin %>" </script>
    <script src="scripts/checkLogged.js"></script>
  </main>

  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>