<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta name="description" content="Official Guerrillas of Liberation Website. Select your role or slot for the next operation.">
    <meta property="og:title" content="Guerrillas of Liberation - Role Selection">
    <meta property="og:description" content="Official Guerrillas of Liberation Website. Select your role or slot for the next operation.">
    <%- include('../partials/head', {pageTitle: "GOL Slot Selector"}) %>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-org-chart@3.0.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-flextree@2.1.2/build/d3-flextree.js"></script>

    <style>
        #slotSelectionContainer {
            background-color: var(--blu-bg-dark);
            background-image: linear-gradient(to bottom right, var(--blu-bg), #0b0c0e);
            border: 2px solid whitesmoke;
            border-radius: 10px;
            padding: 5rem 2rem;

        }

        #slotSelectionContainer>.row:nth-child(1) {
            margin-bottom: 2rem;
        }

        .selection-option>a {
            color: white;
            text-decoration: none;
        }

        .selection-option>a>i {
            font-size: 3rem;
        }

        .selection-option {
            filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.2));
            transition: transform 0.3s ease, filter 0.3s ease;
        }

        .selection-option:hover {
            transform: scale(1.05);
            filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
        }

        .disabled-option>a {
            pointer-events: none;
            color: gray;
            text-decoration: none;
            filter: blur(2px);
        }

        .disabled-option>a>i {
            font-size: 3rem;
        }

        .disabled-option:hover {
            transform: none;
            filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.2));
        }
    </style>
</head>

<%- include('../partials/headernav', {pageTitle: "Orbat", loggedin: userLogged, username: username}) %>

<body>
    <main>
        <div class="container my-5 text-center">
            <div class="row">
                <h1>SLOT SELECTION</h1>
                <p class="lead">Choose either Role Selection or Slot Selection.</p>
            </div>

            <div class="row">
                <div class="container" id="slotSelectionContainer">
                    <div class="row">
                        <div class="col-sm">
                            <h2>NEXT OPERATION IN:</h2>
                            <p class="lead" id="timeUntilMission"></p>
                        </div>
                        <div class="col-sm">
                            <h2>YOUR ROLE:</h2>
                            <p class="lead" id="pickedRole">Not Selected : Not Selected</p>
                        </div>
                        <div class="col-sm">
                            <h2>COMPOSITION:</h2>
                            <p class="lead" id="pickedComp">Unconfirmed</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col selection-option">
                            <a href="/mission-orbat/live?selectedOption=roles">
                                <i class="bi bi-heart-pulse-fill"></i>
                                <h3>Select Role</h3>
                            </a>
                        </div>
                        <div class="col selection-option">
                            <a href="/mission-orbat/live?selectedOption=view">
                                <i class="bi bi-file-easel-fill"></i>
                                <h3>View ORBAT</h3>
                            </a>
                        </div>
                        <div class="col selection-option">
                            <a href="/mission-orbat/live?selectedOption=slots">
                                <i class="bi bi-people-fill"></i>
                                <h3>Select Slot<br><span style="color: var(--blu-secondary); font-size: 18px;">(Staff
                                        Only!)</span></h3>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <p>Choose a preferred role for the operation (Rifleman, Medic, etc.) but not a specific
                                slot.</p>
                        </div>
                        <div class="col">
                            <p>View the current ORBAT for the operation, including all roles and slots.</p>
                        </div>
                        <div class="col">
                            <p>Select a specific slot. This option is reserved for admins and moderators for moving
                                members.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script defer>
        var isloggedIn = "<%= loggedin %>"
    </script>
    <script src="/scripts/checkLogged.js"></script>
    <script src="/scripts/orbatselection.js"></script>
    <script src="/scripts/timeUntilMission.js"></script>
    <script>
        // Update the time every second
        setInterval(updateTimeUntilMission, 1000);
        updateTimeUntilMission(); // Initial call to set the time immediately
    </script>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>