<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <%- include('../partials/head', {pageTitle: "GOL Dashboard"}) %>
    <link rel="stylesheet" href="/styles/dashboard.css">
</head>

<%- include('../partials/headernav', {pageTitle: "Password Reset", loggedin: userLogged, username: username}) %>

<body>
    <main>

        <div class="container-md text-center my-5">
            <div class="row">
                <h2>Password Reset</h2>
                <p class="text-muted">Please enter your new password below.</p>
            </div>

            <div class="row">
                <h3>User: <span style="font-weight: 300;"><%= username %></span></h3>
                <form action="/data/resetPassword" method="POST" id="resetPasswordForm">
                    <div class="row mx-3 justify-content-center text-center">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="newPassword">Enter New Password: </label>
                                <input type="password" name="newPassword" id="newPassword" class="form-control"
                                    placeholder="Password" required>
                                <span class="form-text"><i class="bi bi-eye-slash" id="togglePassword"></i></span>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm New Password: </label>
                                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                                    placeholder="Password" required>
                                <span class="form-text">
                                    <i class="bi bi-eye-slash" id="toggleConfirmPassword"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <small class="form-help form-text">Password must contain at least 8
                                characters.
                                <p class="text-center">Password must contain:<br>
                                    <i>
                                        One Uppercase character.<br>
                                        One lowercase character.<br>
                                        One number.
                                    </i>
                                </p>
                            </small>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Reset Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>