<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GOL Profiles</title>
    <link rel="icon" type="image/png" href="img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/theme.css">
    <link rel="stylesheet" href="styles/profile.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<%- include('../partials/headernav', {pageTitle: "Profile", loggedin: loggedin}) %>

<body>

    <div class="spinner-wrapper">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

    <main>
        <div class="container my-5 text-center">
            <div class="row">
                <div class="col-4">
                    <div id="profileImgDiv">
                        <img src="" alt="" id="profileImg">
                        <img src="" alt="" id="rankImg">
                    </div>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col" id="pNameElement"><p><span id="playerRank">RANK</span> <span id="playerName">Placeholder</span></p></div>
                    </div>
                    <div class="row">
                        <div class="col pinfoElement"><p><span class="label">Time in Service:</span> <span id="playerJoin"></span></p></div>
                        <!-- Should only appear if logged admin -->
                        <!-- <div class="col-sm-2 buttonDiv">
                            <div class="d-sm-flex" id="promoteDiv">
                                <button class="profileButton" id="promoteButton">Promote</button>
                                <button class="profileButton profileButton-dd" id="promoteButtonDD">⌄</button>
                                <div>
                                    <div id="promo-content">
                                        
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col pinfoElement"><p><span class="label">Status:</span> <span id="playerStatus">Active</span></p></div>
                    </div>
                    <div class="row">
                        <div class="col pinfoElement"><p><span class="label">Time in Rank:</span> <span id="playerPromotion"></span></p></div>
                        <!-- Should only appear if logged admin -->
                        <!-- <div class="col-sm-2 buttonDiv">
                            <div class="d-sm-flex" id="demoteDiv">
                                <button class="profileButton" id="demoteButton">Demote</button>
                                <button class="profileButton profileButton-dd" id="demoteButtonDD">⌄</button>
                                <div>
                                    <div id="demo-content">
                                        
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col pinfoElement"><p><span class="label">Country:</span> <span id="playerCountry"></span></p></div>
                    </div>
                    <div class="row">
                        <div class="col pinfoElement"><p><span class="label">Events Attended (Thu|Sun):</span> <span id="playerEvents">###</span></p></div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
            <div class="row profileHero">
                <div class="col border-top">
                    <h2>Badges</h2>
                    <div id="badgeDiv">

                    </div>
                </div>
            </div>
            <div class="row profileHero">
                <div class="col border-top">
                    <h2>Qualifications</h2>
                    <div id="qualDiv">

                    </div>
                </div>
            </div>
            </div>
        </div>

        <div class="floating-menu">
            <div class="floating-action-button" id="promote-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#ffffff" d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"/></svg>
            </div>
            <div class="floating-action-button" id="demote-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#ffffff" d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>
            </div>
            
            <div class="floating-action-button" id="action-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#ffffff" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/></svg>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>
        <script src="scripts/loader.js"></script>

        <script defer>var isloggedIn = "<%= loggedin %>" </script>
        <script src="scripts/checkLogged.js"></script>
        <script src="scripts/popprofile.js"></script>
        <!-- <script src="scripts/rankDropdown.js"></script>-->
    </main>

    <footer>
        <%- include('../partials/footer') %>
      </footer>
</body>

</html>