<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta property="og:title" content="Guerrillas of Liberation - Ranks">
    <meta property="og:description"
        content="Official rank structure of the Guerrillas of Liberation Arma 3 Realism MilSim Unit.">
    <%- include('../partials/head', {pageTitle: "GOL Ranks"}) %>
    <link rel="stylesheet" href="/styles/ranks.css">
    <script>
        function toggleAirRoles() {
            var sideDescription = document.getElementById("airmanDesc");
            var mainDescription = document.getElementById("mainDesc");

            sideDescription.classList.toggle('show');
            mainDescription.classList.toggle('hide');

            // sideDescription.classList.toggle('hide');
        }

        function toggleSquad(squad) {
            var hellfish = document.getElementById("hellfishBtn");
            var hellfishContainer = document.getElementById("hellfishRankContainer");
            var AAC = document.getElementById("AACBtn");
            var aacContainer = document.getElementById("aacRankContainer");

            hellfish.classList.toggle('squadActive');
            AAC.classList.toggle('squadActive');

            hellfishContainer.classList.toggle('show');
            aacContainer.classList.toggle('show');

            // if (squad === 'hellfish') {
            //     hellfishContainer.classList.add('show');
            //     aacContainer.classList.remove('show');
            // } else if (squad === 'AAC') {
            //     hellfishContainer.classList.remove('show');
            //     aacContainer.classList.add('show');
            // }
        }
    </script>

    <style>
        h5 {
            letter-spacing: 0.1rem;
            font-weight: 375;
            margin-top: .5rem;
        }

        .ul-list {
            list-style-type: none;
            padding: 0;
        }

        .collapsible-content {

            --line-height: 1.4;

            overflow: hidden;
            max-height: 0;
            position: relative;
            transition: max-height 0.2s ease-out;
        }

        /* .collapsible-content::before {
            content: "";
            height: calc(1em * var(--line-height));
            width: 100%;
            position: absolute;
            bottom: 0;
            pointer-events: none;
            background: linear-gradient(to bottom, transparent, var(--bs-body-bg));
        } */

        .collapsible-btn {
            background: none;
            border: 1px solid var(--blu-bg-lg);
            padding: 10px !important;
            border-radius: 15px;
            color: var(--blu-body-color);
            cursor: pointer;
            padding: 0;
            text-decoration: none;
            text-align: center;
            transition: color 0.2s ease-out, background-color 0.2s ease-out;
        }
    </style>
</head>

<%- include('../partials/headernav', {pageTitle: "Ranks", loggedin: userLogged, username: username}) %>

<body>
    <main>
        <div class="container text-center">
            <div class="px-4" id="front-hero">
                <img id="front-logo" class="d-block mx-auto mb-4" src="/img/logo_new.webp" alt="">
                <h1 class="text-body-emphasis ">Guerrillas of Liberation</h1>
                <h2 class="abtUs">Ranks and Responsibilities</h2>
            </div>
        </div>
        <div class="container text-center" id="squadButtons">
            <div class="row">
                <div class="col">
                    <p class="lead">There are a number of ranks in the GOL. Most are obtainable from attendance and
                        veterancy, others are only obtained from specialisation in a particular subject.<br>The below
                        tables shows, the insignia of the rank, the name and description of the rank, the insignia of
                        the rank at the same level </p>
                </div>
            </div>
            <div class="row" id="squadButtonsRow">
                <!-- Squad Buttons -->
                <div class="col-sm-2">
                    <button class="squadBtn squadActive" id="hellfishBtn"
                        onclick="toggleSquad('hellfish')">Infantry</button>
                </div>
                <div class="col-sm-2"><button class="squadBtn" id="AACBtn" onclick="toggleSquad('AAC')">Air
                        Corps</button></div>
                <!-- <button class="squadBtn" id="testBtn" onclick="toggleAirRoles()">Test</button> -->
            </div>
        </div>

        <div class="container rankContainer my-5 hide show" id="hellfishRankContainer">
            <div class="row">
                <div class="col">
                    <h2 class="rankBreak">Enlisted Ranks</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <!-- Recruit -->
                    <img class="rankThumb" src="/img/rank/R.png" alt="">
                </div>
                <div class="col">
                    <h2 class="rankHead">Recruit <span class="rankPrefix">(Rct)</span></h2>
                    <h5>New Player</h5>
                    <p class="rankDesc">
                        New players who have joined the group, are usually paired with a veteran to be assisted. No
                        prior experience is required, we encourage participation of all players from all levels of
                        experience.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <!-- Private -->
                    <img class="rankThumb" src="/img/rank/P.png" alt="">
                </div>
                <div class="col">
                    <h2 class="rankHead">Private <span class="rankPrefix">(Pvt)</span></h2>
                    <h5>Base Level Membership</h5>
                    <p class="rankDesc">
                        All players are expected to leave feedback to assist in improving the group's experience. All
                        players are expected to follow the rules of conduct in and outside the game.
                    </p>
                    <button class="btn btn-outline-secondary collapsible-btn">See More...</button>
                    <div class="collapsible-content">
                        <h5>Requirements</h5>
                        <span>Attend 2 Thursday trainings + 2 Sunday operations.</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <!-- Private Second Class -->
                    <img class="rankThumb" src="/img/rank/PSC.png" alt="" id="pscIns">
                </div>
                <div class="col">
                    <div class="rankDescDiv" id="mainDesc">
                        <h2 class="rankHead">Private Second Class <span class="rankPrefix">(Psc)</span></h2>
                        <h5>Experienced</h5>
                        <p class="rankDesc">
                            This player has been in the clan for an extended period (3 months+) and is part of the
                            experienced player corps.
                        </p>
                        <button class="btn btn-outline-secondary collapsible-btn">See More...</button>
                        <div class="collapsible-content">
                            <h5>Requirements</h5>
                            <span>Promotion after attending 30 events.</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <!-- First Class Airman - Equivalent Level -->
                    <img id="airmanIns" class="rankThumb toned-down" src="/img/rank/Amn_C.png" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <!-- Private Second Class -->
                    <img class="rankThumb" src="/img/rank/PFC.png" alt="">
                </div>
                <div class="col">
                    <h2 class="rankHead">Private First Class <span class="rankPrefix">(Pfc)</span></h2>
                    <h5>Senior Experienced</h5>
                    <p class="rankDesc">
                        This player has been in the clan for an extended period (6 months+) and is part of the
                        experienced player corps.
                    </p>
                    <button class="btn btn-outline-secondary collapsible-btn">See More...</button>
                    <div class="collapsible-content">
                        <h5>Requirements</h5>
                        <span>Promotion after attending 60 events.</span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <!-- Airman - Equivalent Level -->
                    <img class="rankThumb toned-down" src="/img/rank/A1C_C.png" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <!-- Specialist -->
                    <img class="rankThumb" src="/img/rank/Spc.png" alt="">
                </div>
                <div class="col">
                    <h2 class="rankHead">Specialist <span class="rankPrefix">(Spc)</span></h2>
                    <h5>Specialised Veteran</h5>
                    <p class="rankDesc">
                        This player has been in the clan for an extended period (6 months+) and conducts themselves
                        sensibly in their senior enlisted role. This rank is given to players who have specialised in a
                        certain area of expertise. An individual at this rank is expected to demonstrate a high level of
                        skill
                        and knowledge in their chosen field, and may be eligible to claim their specialist role more
                        often.
                    </p>
                    <button class="btn btn-outline-secondary collapsible-btn">See More...</button>
                    <div class="collapsible-content">
                        <h5>Requirements</h5>
                        <ul class="ul-list">
                            <li>Must have at least 6 months of service in the clan</li>
                            <li>
                                Must specialise in a specific role/subject:
                                <ul>
                                    <li>Medical</li>
                                    <li>Crew Served Support Weapons (Mortars, Statics etc.)</li>
                                    <li>Signals (Communications)</li>
                                    <li>Vehicle Commanding</li><br>
                                </ul>
                            </li>
                            <li>Must notify NCOs of desire to specialise in any of the above subjects.</li>
                            <li>Final decision based on NCO assessment.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <!-- Lance Corporal -->
                    <img class="rankThumb" src="/img/rank/LCpl.png" alt="">
                </div>
                <div class="col">
                    <h2 class="rankHead">Lance Corporal <span class="rankPrefix">(LCpl)</span></h2>
                    <h5>Veteran Member</h5>
                    <p class="rankDesc">
                        This player has been in the clan for an extended period (6 months+) and conducts themselves
                        sensibly in their senior enlisted role. Assists with handling new players and
                        offers help to others in-game. A trusted member of the group.<br>
                    </p>
                    <button class="btn btn-outline-secondary collapsible-btn">See More...</button>
                    <div class="collapsible-content">
                        <h5>Responsibilities</h5>
                        <ul class="ul-list">
                            <li>Assist in the integration and steering of new members.</li>
                            <li>Willing to accept 2IC (Second-in-Command) of fireteams.</li>
                            <li>Act as a role model for junior members.</li>
                        </ul>
                        <h5>Requirements</h5>
                        <ul class="ul-list">
                            <li>Must have at least 6 months of service in the clan</li>
                            <li>Conduct themselves in a sensible manner in-game.</li>
                            <li>Final decision based on NCO assessment.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <!-- Senior Airman - Equivalent Level -->
                    <img class="rankThumb toned-down" src="/img/rank/SrA_C.png" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h2 class="rankBreak">NCO Ranks</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <!-- Corporal -->
                    <img class="rankThumb" src="/img/rank/Cpl.png" alt="">
                </div>
                <div class="col">
                    <h2 class="rankHead">Corporal <span class="rankPrefix">(Cpl)</span></h2>
                    <h5>Junior NCO</h5>
                    <p class="rankDesc">
                        The Corporal is the first rank of Non-Commissioned Officer (NCO) in the Guerrillas of
                        Liberation. This rank is responsible for leading a fireteam in-game, ensuring that all members
                        are following the group's values and standards. The Corporal is expected to regularly take on a
                        fireteam leadership role and assist with administrative tasks to keep the group running
                        smoothly.
                    </p>
                    <button class="btn btn-outline-secondary collapsible-btn">See More...</button>
                    <div class="collapsible-content">
                        <h5>Responsibilities</h5>
                        <ul class="ul-list">
                            <li>Primary Team Leader obligation.</li>
                            <li>Squad Leader in training.</li>
                            <li>Contribute to leadership discussions and decision-making processes.</li>
                            <li>Assist leadership with a select administrative task in the group.
                                <ul>
                                    <li>Promotions</li>
                                    <li>Recruitment</li>
                                    <li>Editing</li>
                                    <li>Training</li>
                                    <li>Other administrative tasks</li>
                                </ul>
                            </li>
                        </ul>
                        <h5>Promotion Criteria</h5>
                        <ul class="ul-list">
                            <li>Expressed interest in leadership opportunities.</li>
                            <li>Demonstrated ability to lead fireteams in-game.</li>
                            <li>Final decision based on NCO assessment.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <!-- Sergeant -->
                    <img class="rankThumb" src="/img/rank/Sgt.png" alt="">
                </div>
                <div class="col">
                    <h2 class="rankHead">Sergeant <span class="rankPrefix">(Sgt)</span></h2>
                    <h5>Experienced NCO</h5>
                    <p class="rankDesc">
                        The Sergeant is a more experienced Non-Commissioned Officer (NCO) in the Guerrillas of
                        Liberation. This rank is responsible for leading a squad in-game, ensuring that all members are
                        following the group's values and standards. The Sergeant is expected to regularly take on a
                        squad leadership role and assist with administrative tasks to keep the group running smoothly.
                    </p>
                    <button class="btn btn-outline-secondary collapsible-btn">See More...</button>
                    <div class="collapsible-content">
                        <h5>Responsibilities</h5>
                        <ul class="ul-list">
                            <li>Primary Squad Leader obligation.</li>
                            <li>Eligible to Platoon Lead.</li>
                            <li>Assist with the training and development of junior NCOs.</li>
                            <li>Contribute to leadership discussions and decision-making processes.</li>
                            <li>Assist leadership with a select administrative task in the group.
                                <ul>
                                    <li>Promotions</li>
                                    <li>Recruitment</li>
                                    <li>Editing</li>
                                    <li>Training</li>
                                    <li>Other administrative tasks</li>
                                </ul>
                            </li>
                        </ul>
                        <h5>Promotion Criteria</h5>
                        <ul class="ul-list">
                            <li>Minimum 6 months of service as a Corporal.</li>
                            <li>Proficient with in-game fireteam leadership roles.</li>
                            <li>Demonstrated ability to lead squads and several elements effectively.</li>
                            <li>Promotion based on Leadership Decision.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- <div class="row">
                // Staff Sergeant
                <div class="col-sm-2">
                    <img class="rankThumb" src="/img/rank/SSgt.png" alt="">
                </div>
                <div class="col">
                    <h2 class="rankHead">Staff Sergeant <span class="rankPrefix">(SSgt)</span></h2>
                    <h5>Senior NCO</h5>
                    <p class="rankDesc">
                        The Staff Sergeant is a senior Non-Commissioned Officer (NCO) in the Guerrillas of Liberation.
                        This rank is responsible for assisting with the training and development of junior NCOs and
                        ensuring that all members are following the group's values and standards.
                    </p>
                    <button class="btn btn-outline-secondary collapsible-btn">See More...</button>
                    <div class="collapsible-content">
                        <h5>Responsibilities</h5>
                        <ul class="ul-list">
                            <li>Assist with the training and development of junior NCOs.</li>
                            <li>Contribute to leadership discussions and decision-making processes.</li>
                            <li>Platoon Sergeant obligation.</li>
                            <li>Assist leadership with select administrative tasks in the group.
                                <ul>
                                    <li>Promotions</li>
                                    <li>Recruitment</li>
                                    <li>Editing</li>
                                    <li>Training</li>
                                    <li>Other administrative tasks</li>
                                </ul>
                            </li>
                        </ul>
                        <h5>Promotion Criteria</h5>
                        <ul class="ul-list">
                            <li>Minimum year of service as an NCO</li>
                            <li>Promotion based on Leadership Decision.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    // Staff Sergeant - Equivalent Level
                    <img class="rankThumb toned-down" src="/img/rank/SSgtA.png" alt="">
                </div>
            </div> -->

            <div class="row">
                <div class="col">
                    <h2 class="rankBreak">Officer Ranks</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <!-- Second Lieutenant -->
                    <img class="rankThumb" src="/img/rank/2LT_new.png" alt="">
                </div>
                <div class="col">
                    <h2 class="rankHead">Second Lieutenant <span class="rankPrefix">(2Lt)</span></h2>
                    <h5>Acting GOL Second in Command</h5>
                    <p class="rankDesc">
                        This position serves as the second-in-command of the Guerrillas of Liberation. The Second
                        Lieutenant assists the First Lieutenant in managing the group and is responsible for ensuring
                        that all members are following the group's values and standards.
                    </p>
                    <button class="btn btn-outline-secondary collapsible-btn">See More...</button>
                    <div class="collapsible-content">
                        <h5>Responsibilities</h5>
                        <ul class="ul-list">
                            <li>Assist the Acting GOL Leader with administrative tasks.</li>
                            <li>Assist with the training and development of junior NCOs.</li>
                            <li>Organise mission details and ensure all necessary resources are available.</li>
                            <li>Eligible to Platoon Lead.</li>
                        </ul>
                        <h5>Promotion Criteria</h5>
                        <ul class="ul-list">
                            <li>ONLY 1 Second Lieutenant may exist at a time.</li>
                            <li>Elected based on NCO Decision.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <!-- First Lieutenant -->
                    <img class="rankThumb" src="/img/rank/1LT.png" alt="">
                </div>
                <div class="col">
                    <h2 class="rankHead">First Lieutenant <span class="rankPrefix">(Lt)</span></h2>
                    <h5>Acting GOL Leader</h5>
                    <p class="rankDesc">
                        This position serves as the leader of the Guerrillas of Liberation and is responsible for
                        overseeing all operations and activities within the group. The First Lieutenant is the
                        highest-ranking officer in the GOL and is expected to lead by example, ensuring that all members
                        adhere to the group's values and standards.
                    </p>
                    <button class="btn btn-outline-secondary collapsible-btn">See More...</button>
                    <div class="collapsible-content">
                        <h5>Responsibilities</h5>
                        <ul class="ul-list">
                            <li>Face of the clan.</li>
                            <li>Make decisions on behalf of the GOL.</li>
                            <li>Organise mission details and ensure all necessary resources are available.</li>
                            <li>Eligible to Platoon Lead.</li>
                        </ul>
                        <h5>Promotion Criteria</h5>
                        <ul class="ul-list">
                            <li>ONLY 1 First Lieutenant may exist at a time.</li>
                            <li>Elected based on NCO Decision.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <!-- AAC Ranks -->


        <div class="container rankContainer my-5 hide" id="aacRankContainer">
            <div class="row">
                <div class="col">
                    <h2 class="rankBreak">Pilot Ranks</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <!-- Airman -->
                    <img class="rankThumb" src="/img/rank/Amn_C.png" alt="">
                </div>
                <div class="col">
                    <h2 class="rankHead">Airman <span class="rankPrefix">(Amn)</span></h2>
                    <h5>Qualified Pilot</h5>
                    <p class="rankDesc">
                        First rank of the Air Corps, this member has completed the basic flight training and is eligible
                        to fly rotary airframes during operations.
                    </p>
                    <button class="btn btn-outline-secondary collapsible-btn">See More...</button>
                    <div class="collapsible-content">
                        <h5>Requirements</h5>
                        <ul class="ul-list">
                            <li>Must have attended at least 20 events.</li>
                            <li>Must have completed all required training modules.
                                <ul>
                                    <li>Raven Training (Attend Raven Training parts 1-3)</li>
                                    <li>Angel Training (Attend Angel Training parts 1-2)</li>
                                    <li>Hammer Training (Attend Hammer Training parts 1-3)</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <!-- Private Second Class - Equivalent -->
                    <img class="rankThumb toned-down" src="/img/rank/PSC.png" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <!-- Airman - Equivalent Level -->
                    <img class="rankThumb" src="/img/rank/A1C_C.png" alt="">
                </div>
                <div class="col">
                    <h2 class="rankHead">Airman First Class <span class="rankPrefix">(A1C)</span></h2>
                    <h5>Experienced Pilot</h5>
                    <p class="rankDesc">
                        This member has further developed their flight skills beyond the basic standards. They are
                        proficient in flying a wider variety of aircraft and performing in more complex roles. Familiar
                        with Giant, Para-Rescueman and Fixed-Wing Callsigns.<br>
                    </p>
                    <button class="btn btn-outline-secondary collapsible-btn">See More...</button>
                    <div class="collapsible-content">
                        <h5>Requirements</h5>
                        <ul class="ul-list">
                            <li>Must have attended at least 40 events.</li>
                            <li>Must have obtained Medical Qualification II or Higher.</li>
                            <li>Must have completed all additional training modules.
                                <ul>
                                    <li>Giant Training (Attend Giant Training)</li>
                                    <li>Phantom Training (Attend Phantom Training parts 1 & 2)</li>
                                    <li>Banshee Training (Attend Banshee Training parts 1 & 2)</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <!-- Private Second Class -->
                    <img class="rankThumb toned-down" src="/img/rank/PFC.png" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <!-- Senior Airman - Equivalent Level -->
                    <img class="rankThumb" src="/img/rank/SrA_C.png" alt="">
                </div>
                <div class="col">
                    <h2 class="rankHead">Senior Airman <span class="rankPrefix">(SrA)</span></h2>
                    <h5>Veteran Pilot</h5>
                    <p class="rankDesc">
                        This member has demonstrated an advanced understanding of flight mechanics and procedures, while
                        additionally holding a higher standard of skill level. The duties of the member will include
                        assisting new pilots during operations (Flight Lead, Guidance, etc.)<br>
                    </p>
                    <button class="btn btn-outline-secondary collapsible-btn">See More...</button>
                    <div class="collapsible-content">
                        <h5>Promotion Criteria</h5>
                        <ul class="ul-list">
                            <li>Promotion based on NCO Decision.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <!-- Lance Corporal -->
                    <img class="rankThumb toned-down" src="/img/rank/LCpl.png" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h2 class="rankBreak">NCO Ranks</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <!-- Staff Sergeant - Equivalent Level -->
                    <img class="rankThumb" src="/img/rank/SSgtA.png" alt="">
                </div>
                <div class="col">
                    <h2 class="rankHead">Staff Sergeant <span class="rankPrefix">(SSgt)</span></h2>
                    <h5>Experienced NCO Pilot</h5>
                    <p class="rankDesc">
                        Assists administration - Promotions/Recruitment/Training<br>
                        Develops and maintains SOP<br>
                    </p>
                    <div class="collapsible-content">
                        <h5>Promotion Criteria</h5>
                        <ul class="ul-list">
                            <li>Promotion based on Leadership Decision.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <!-- Staff Sergeant -->
                    <img class="rankThumb" src="/img/rank/TSgt.png" alt="">
                </div>
                <div class="col">
                    <h2 class="rankHead">Technical Sergeant <span class="rankPrefix">(TSgt)</span></h2>
                    <h5>Senior NCO Pilot</h5>
                    <h5>Acting AAC Second in Command</h5>
                    <p class="rankDesc">
                        Assists administration - Promotions/Recruitment/Training<br>
                        Develops and maintains SOP<br>
                    </p>
                    <button class="btn btn-outline-secondary collapsible-btn">See More...</button>
                    <div class="collapsible-content">
                        <h5>Promotion Criteria</h5>
                        <ul class="ul-list">
                            <li>Promotion based on Leadership Decision.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h2 class="rankBreak">Officer Ranks</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <!-- Second Lieutenant -->
                    <img class="rankThumb" src="/img/rank/2LT_new.png" alt="">
                </div>
                <div class="col">
                    <h2 class="rankHead">Second Lieutenant <span class="rankPrefix">(2lt)</span></h2>
                    <h5>Acting GOL Second in Command</h5>
                    <h5>Acting Leader of AAC</h5>
                    <p class="rankDesc">
                        Assists administration - Promotions/Recruitment/Editing/Training.<br>
                        Platoon/Squad Leader obligation.<br>
                    </p>
                    <button class="btn btn-outline-secondary collapsible-btn">See More...</button>
                    <div class="collapsible-content">
                        <h5>Promotion Criteria</h5>
                        <ul class="ul-list">
                            <li>Elected based on NCO Decision.</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <script>
        document.querySelectorAll('.collapsible-btn').forEach(button => {
            button.addEventListener('click', () => {
                const content = button.nextElementSibling;
                content.classList.toggle('show');
                if (content.classList.contains('show')) {
                    button.innerHTML = "See Less...";
                } else {
                    button.innerHTML = "See More...";
                }

                if (content.classList.contains('show')) {
                    content.style.maxHeight = content.scrollHeight + "px";
                } else {
                    content.style.maxHeight = 0;
                }
            });
        });
    </script>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>