<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <%- include('../partials/head', {pageTitle: "GOL Register"}) %>

    <style>
        .registerSection {
            margin: 5% auto;
            width: 50%;
            padding: 20px;
            border: 1px solid var(--blu-secondary);
            border-radius: 10px;
        }

        .registerSection h1 {
            margin-bottom: 20px;
        }

        .registerSection button {
            margin-top: 20px;
        }

        .form-control {
            text-align: center;
        }
    </style>
</head>

<%- include('../partials/headernav', {pageTitle: "Register"}) %>


<body>

    <div class="alert-holder" id="alertHolder">

    </div>

    <div class="spinner-wrapper">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <main>
        <div class="container border-bottom" id="mainContent">

            <div class="px-4 text-center" id="front-hero">
                <img id="front-logo" class="d-block mx-auto mb-4" src="img/logo_new.png" alt="">
                <h1 class=" text-body-emphasis ">Guerrillas of Liberation</h1>

            </div>

            <section class="registerSection">
                <h1 class="text-center">Register</h1>

                <form action="/data/performRegister" method="POST" id="registerForm">
                    <div class="form-group mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input class="form-control" type="text" class="form-control" id="username" name="username"
                            autocomplete="username" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input class="form-control" type="password" class="form-control" id="password" name="password"
                            required>
                        <span class="form-text">
                            <i class="bi bi-eye-slash" id="togglePassword"></i>
                        </span>
                    </div>
                    <div class="form-group mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input class="form-control" type="password" class="form-control" id="confirmPassword"
                            name="confirmPassword" required>
                        <span class="form-text">
                            <i class="bi bi-eye-slash" id="toggleConfirmPassword"></i>
                        </span>
                    </div>
                    <div class="form-group">
                        <small class="form-help form-text">Password must contain at least 8 characters.<br>Password must
                            contain:<ul>
                                <li>One Uppercase character.</li>
                                <li>One lowercase character.</li>
                                <li>One number.</li>
                            </ul></small>
                    </div>

                    <div class="form-group text-center"><button type="submit" class="btn btn-primary"
                            id="registerSubmitBtn">Register</button></div>
                </form>

                <div class="row text-center my-4">
                    <h3>Already part of the group?</h3>
                    <a href="/auth/discord" class="btn btn-secondary"><i class="bi bi-discord"></i> Log In with Discord</a>
                </div>
            </section>


        </div>
        <script src="/scripts/loader.js"></script>
        <script src="/scripts/register.js"></script>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>