<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GOL Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/theme.css">
    <script src="scripts/logoHover.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="scripts/populateRoster.js"></script>

    <style>
        .col-sm-6 {
            text-align: right;
        }

        .col-sm-2 {
            text-align: left;
        }
    </style>
</head>

<div class="container">
    <%- include('../partials/headernav', {pageTitle: "Roster"}) %>
  </div>

<body>
    <main>
        <div class="container my-5 text-center">

            <h1 class="mb-5 mainHead fw-bold">Guerrillas Of Liberation <br> Platoon Roster</h1>

            <div class="row align-items-center mb-5">
                <div class="col">
                    <img id="hellfish-logo" src="img/flyinghellfish.png" alt="">
                    <p class="h2">1-1 Flying Hellfish</p>
                </div>
            </div>

            <div class="row align-items-center mb-4">
                <div class="col">
                    <img class="rank-icon" src="img/rank/1LT.png" alt="1LT" />
                    <p class="h3 rank-title border-bottom">First Lieutenant</p>

                    <div class="container" id="1lt-con">

                    </div>

                </div>
            </div>

            <div class="row align-items-center mb-4">
                <div class="col">
                    <img class="rank-icon" src="img/rank/2LT.png" alt="2LT">
                    <p class="h3 rank-title border-bottom">Second Lieutenant</p>
                    
                    <div class="container" id="2lt-con">

                    </div>
                </div>
            </div>

            <div class="row align-items-center mb-4">
                <div class="col">
                    <img class="rank-icon" src="img/rank/Sgt.png" alt="SGT">
                    <p class="h3 rank-title border-bottom">Sergeant</p>

                    <div class="container" id="sgt-con">

                    </div>
                </div>
            </div>

            <div class="row align-items-center mb-4">
                <div class="col">
                    <img src="img/rank/Cpl.png" alt="CPL" class="rank-icon">
                    <p class="h3 rank-title border-bottom">Corporal</p>

                    <div class="container" id="cpl-con">

                    </div>
                </div>
            </div>

            <div class="row align-items-center mb-4">
                <div class="col">
                    <img src="img/rank/LCpl.png" alt="LCPL" class="rank-icon">
                    <p class="h3 rank-title border-bottom">Lance Corporal</p>

                    <div class="container" id="lcpl-con">

                    </div>
                </div>
            </div>

            <div class="row align-items-center mb-4">
                <div class="col">
                    <img src="img/rank/Spc.png" alt="SPC" class="rank-icon">
                    <p class="h3 rank-title border-bottom">Specialist</p>
                    
                    <div class="container" id="spc-con">

                    </div>
                </div>
            </div>

            <div class="row align-items-center mb-4">
                <div class="col">
                    <img src="img/rank/PFC.png" alt="PFC" class="rank-icon">
                    <p class="h3 rank-title border-bottom">Private First Class</p>

                    <div class="container" id="pfc-con">

                    </div>
                </div>
            </div>

            <div class="row align-items-center mb-4">
                <div class="col">
                    <img src="img/rank/PSC.png" alt="PFC" class="rank-icon">
                    <p class="h3 rank-title border-bottom">Private Second Class</p>

                    <div class="container" id="psc-con">

                    </div>
                </div>
            </div>

            <div class="row align-items-center mb-4">
                <div class="col">
                    <img src="img/rank/P.png" alt="P" class="rank-icon">
                    <p class="h3 rank-title border-bottom">Private</p>

                    <div class="container" id="pvt-con">

                    </div>
                </div>
            </div>

            <div class="row align-items-center mb-4">
                <div class="col">
                    <img src="img/rank/R.png" alt="R" class="rank-icon">
                    <p class="h3 rank-title border-bottom">Recruit</p>

                    <div class="container" id="rct-con">

                    </div>
                </div>
            </div>

            <div class="row align-items-center mb-4">
                <div class="col">
                    <p class="h2 rank-title border-bottom">Reserves</p>

                    <div class="container" id="rsv-con">

                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>
    </main>
</body>

</html>