<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta property="og:title" content="Guerrillas of Liberation - Order of Battle">
    <meta property="og:description"
        content="Official unit structure of the Guerrillas of Liberation Arma 3 Realism MilSim Unit.">
    <%- include('../partials/head', {pageTitle: "GOL ORBAT"}) %>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-org-chart@3.0.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-flextree@2.1.2/build/d3-flextree.js"></script>

    <style>
        .col-sm-6 {
            text-align: right;
        }

        .col-sm-2 {
            text-align: left;
        }

        .badge {
            margin: 0 5px;
        }
    </style>
</head>

<%- include('../partials/headernav', {pageTitle: "Orbat", loggedin: userLogged, username: username}) %>

<body>
    <main>

        <div class="container my-5 text-center">
            <h1>ORDER OF BATTLE</h1>

            <p class="lead">The ORBAT shows the structure of both the Hellfish, AAC and Reservists.</p>
            <p class="lead">Click on the members below to view their service record!</p>
            <div style="margin-top: 1%;" class="focus-button">
                <a href="#orgChart" class="link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4" />
                    </svg><span class="lead">Focus</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4" />
                    </svg></a>
            </div>

            <div class="row my-2" id="orbatStats">
                <div class="col-sm">
                    <p class="lead">Expected Votes: <span class="highlight" id="activePlayers">##</span></p>
                </div>
                <div class="col-sm">
                    <p class="lead">Total Number of Full Members: <span class="highlight" id="fullMembers">##</span></p>
                </div>
                <div class="col-sm">
                    <p class="lead">Total Number of Reservists: <span class="highlight" id="reservistsCount">##</span>
                    </p>
                </div>
                <div class="col-sm">
                    <p class="lead">Total Number of Members: <span class="highlight" id="membersCount">##</span></p>
                </div>
            </div>
        </div>

        <div class="chart-container" id="orgChart"></div>

        <div class="container text-center my-5">
            <div class="row" id="orbatKey">
                <div class="row my-2">
                    <h3>Legend:</h3>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-3">
                        <p class="key-button" style="background-color: rgb(104, 30, 16);">Enlisted</p>
                    </div>
                    <div class="col-sm-3">
                        <p class="key-button" style="background-color: rgb(0, 37, 117);">AAC</p>
                    </div>
                    <div class="col-sm-3">
                        <p class="key-button key-border"
                            style="background-color: rgba(0, 0, 0, 0); border-color: #c9b52a;">
                            Promotion Available</p>
                    </div>
                    <div class="col-sm-3">
                        <p class="key-button" style="background-color: rgb(96, 0, 141);">Leadership</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-3">
                        <p class="key-button" style="background-color: rgb(204, 189, 102); color: black;">Reservist</p>
                    </div>
                    <div class="col-sm-3">
                        <p class="key-button key-border"
                            style="background-color: rgba(0, 0, 0, 0); border-color: #c51010;">
                            On Leave (LOA)</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script defer>
        var isloggedIn = "<%= loggedin %>"
    </script>
    <script src="/scripts/checkLogged.js"></script>

    <script src="/scripts/orgchart.js"></script>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>