<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <%- include('../partials/head', {pageTitle: "GOL SOPs"}) %>

    <style>
        .card {
            transition: transform 0.2s;
        }

        .card:hover {
            transform: scale(1.02);
        }
    </style>
</head>

<%- include('../partials/headernav', {pageTitle: "SOP"}) %>

<body>
    <main>

        <div class="modal fade" id="viewSopModal" tabindex="-1" aria-labelledby="viewSopModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="viewSopModalLabel">View SOP</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()"></button>
                    </div>
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="" allowfullscreen id="sopIframe" style="width: 100%; height: 80vh;"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container text-center">
            <div class="px-4" id="front-hero">
                <img id="front-logo" class="d-block mx-auto mb-4" src="/img/logo_new.png" alt="">
                <h1 class="text-body-emphasis">Guerrillas of Liberation</h1>
                <h2>SOPs</h2>
            </div>
        </div>

        <div class="container my-5" id="sopContainer">
            <div class="row text-center">
                <p class="lead">Note: Some of these documents are only <span style="font-weight: bold;">internally
                        accessible</span> via membership</p>
            </div>
            <div class="row">
                <div class="col text-center mb-4">
                    <h3>Infantry SOP</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md mb-3">
                    <div class="card card-sop">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-title">SOP: Urban Tactics</h5>
                            <div>
                                <img src="/img/logo_new_thumb.png" alt="" class="img-fluid"
                                    style="max-width: 30px; height: auto; float: right;">
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This SOP provides guidelines and best practices for conducting
                                operations in urban environments, focusing on movement, cover, communication, and
                                engagement strategies to ensure team safety and mission success.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary">By Cpl. Filth</small>
                            <a href="/sop/urban" class="btn btn-primary">View SOP</a>
                        </div>
                    </div>
                </div>
                <div class="col-md mb-3">
                    <div class="card card-sop">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-title">SOP: Vehicle Commander's Brief</h5>
                            <div>
                                <img src="/img/logo_new_thumb.png" alt="" class="img-fluid"
                                    style="max-width: 30px; height: auto; float: right;">
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This SOP governs the standard procedure that GOL implements for three
                                man designated vehicle crews, and what they do at the
                                beginning of any given mission. As every vehicle is different, the crew have to
                                familiarise themselves time and time again. Vehicle commanders oversee and guide this
                                process.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary">By Cpl. Filth</small>
                            <a href="/sop/commanders-brief" class="btn btn-primary">View SOP</a>
                        </div>
                    </div>
                </div>
                <div class="col-md mb-3">
                    <div class="card card-sop">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-title">SOP: Bounding</h5>
                            <div>
                                <img src="/img/logo_new_thumb.png" alt="" class="img-fluid"
                                    style="max-width: 30px; height: auto; float: right;">
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This SOP outlines the infantry bounding tactic, describing coordinated
                                movement techniques where elements alternate between moving and providing cover. It
                                covers communication, spacing, and safety considerations to enhance unit effectiveness
                                and minimize exposure to threats.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary">By Cpl. Filth</small>
                            <a href="/sop/bounding" class="btn btn-primary">View SOP</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md mb-3">
                    <div class="card card-sop">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-title">SOP: Medical Processing</h5>
                            <div>
                                <img src="/img/logo_new_thumb.png" alt="" class="img-fluid"
                                    style="max-width: 30px; height: auto; float: right;">
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This SOP provides a comprehensive look at the procedures for medical
                                processing, including
                                casualty assessment, triage, treatment protocols, and documentation to
                                ensure effective and timely care for injured personnel.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary">By 2Lt. Blu.</small>
                            <a href="/sop/medical-process" class="btn btn-primary">View SOP</a>
                        </div>
                    </div>
                </div>

                <div class="col-md mb-3">
                    <div class="card card-sop">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-title">SOP: Medical Treatment</h5>
                            <div>
                                <img src="/img/logo_new_thumb.png" alt="" class="img-fluid"
                                    style="max-width: 30px; height: auto; float: right;">
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This SOP covers a brief explaination on the step by step process for
                                medical treatment, including
                                casualty assessment, triage, treatment protocols, the tier system and call outs.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary">By Lt. Oksman</small>
                            <a href="/sop/medical-treatment" class="btn btn-primary">View SOP</a>
                        </div>
                    </div>
                </div>

                <div class="col-md mb-3">
                    <div class="card card-sop">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-title">SOP: Medical Tier System</h5>
                            <div>
                                <img src="/img/logo_new_thumb.png" alt="" class="img-fluid"
                                    style="max-width: 30px; height: auto; float: right;">
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This SOP provides a brief explaination on the medical tier system and
                                how to accurately identify casualties and effectively communicate their status to the
                                qualified members.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary">By Lt. Oksman & 2Lt. Blu.</small>
                            <a href="/sop/medical-tiers" class="btn btn-primary">View SOP</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md mb-3">
                    <div class="card card-sop">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-title">SOP: Radio Communications</h5>
                            <div>
                                <img src="/img/logo_new_thumb.png" alt="" class="img-fluid"
                                    style="max-width: 30px; height: auto; float: right;">
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This SOP provides a summarised look at the general procedures
                                surrounding radio communications including, radio etiquette, short range radios, long
                                range radios, common callsigns and message composition.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary">By 2Lt. Blu.</small>
                            <a href="/sop/radios" class="btn btn-primary">View SOP</a>
                        </div>
                    </div>
                </div>

                <div class="col-md mb-3">
                    <div class="card card-sop">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-title">SOP: Mortars</h5>
                            <div>
                                <img src="/img/logo_new_thumb.png" alt="" class="img-fluid"
                                    style="max-width: 30px; height: auto; float: right;">
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This SOP provides both an overview on the artilleryman callsign Dragon,
                                as well as a comprehensive explaination regarding the process and calculations required
                                for the role.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary">By Lt. Oksman.</small>
                            <a href="/sop/mortars" class="btn btn-primary">View SOP</a>
                        </div>
                    </div>
                </div>

                <div class="col-md mb-3">
                    <div class="card card-guide">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-title">Guide: Zeus Handbook</h5>
                            <div>
                                <img src="/img/logo_new_thumb.png" alt="" class="img-fluid"
                                    style="max-width: 30px; height: auto; float: right;">
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This SOP covers a brief explaination on the step by step process for
                                medical treatment, including
                                casualty assessment, triage, treatment protocols, the tier system and call outs.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary">By 2Lt. Blu.</small>
                            <a href="/sop/zeus-handbook" class="btn btn-primary">View SOP</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md mb-3">
                    <div class="card card-guide">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-title">Concept: Infantry Concept</h5>
                            <div>
                                <img src="/img/logo_new_thumb.png" alt="" class="img-fluid"
                                    style="max-width: 30px; height: auto; float: right;">
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This SOP provides a look at the GOL's standard configuration of a
                                general infantry composition. This includes a comprehensive overview on roles, manpower,
                                team composition and squad compositions.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary">By 2Lt. Blu. & Cpl. Filth</small>
                            <a href="/sop/infantry-concept" class="btn btn-primary">View SOP</a>
                        </div>
                    </div>
                </div>

                <div class="col-md mb-3">
                    <div class="card card-guide">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-title">Concept: Mechanized Infantry</h5>
                            <div>
                                <img src="/img/logo_new_thumb.png" alt="" class="img-fluid"
                                    style="max-width: 30px; height: auto; float: right;">
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This SOP details the procedures and practices used by GOL for
                                mechanized infantry compositions. This includes, vehicle coordination, dismount tactics,
                                communication protocols,
                                and safety measures to maximize effectiveness and survivability on the battlefield.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary">By Cpl. Filth</small>
                            <a href="/sop/mechanized" class="btn btn-primary">View SOP</a>
                        </div>
                    </div>
                </div>

                <div class="col-md mb-3">
                    <div class="card card-guide">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-title">Concept: Motorized Infantry</h5>
                            <div>
                                <img src="/img/logo_new_thumb.png" alt="" class="img-fluid"
                                    style="max-width: 30px; height: auto; float: right;">
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This SOP details the procedures and practices used by GOL for
                                motorized infantry compositions. This includes, vehicle roles, dismount tactics,
                                communication protocols, vehicle ownership and manouvers.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary">By Cpl. Filth</small>
                            <a href="/sop/motorized" class="btn btn-primary">View SOP</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col"></div>
                <div class="col-md text-center my-4">
                    <h3>AAC SOPs</h3>
                </div>
                <div class="col"></div>
            </div>

            <div class="row">
                <div class="col-md mb-3">
                    <div class="card card-aac">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-title">Concept: Raven Concept</h5>
                            <div>
                                <img src="/img/logo_new_thumb.png" alt="" class="img-fluid"
                                    style="max-width: 30px; height: auto; float: right;">
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This document provides a look at the GOL's standard operating procedure
                                for Raven aircraft. These air callsigns are reponsible for logistical aid and assistance
                                of the infantry platoon.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary">By 2Lt. Blu. & </small>
                            <a href="/sop/raven" class="btn btn-primary">View SOP</a>
                        </div>
                    </div>
                </div>

                <div class="col-md mb-3">
                    <div class="card card-aac">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-title">Concept: Hammer Concept</h5>
                            <div>
                                <img src="/img/logo_new_thumb.png" alt="" class="img-fluid"
                                    style="max-width: 30px; height: auto; float: right;">
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This document provides a look at the GOL's standard operating procedure
                                for the Hammer callsign, more commonly referred to as an <abbr
                                    title="Forward Air Controller">FAC</abbr>. These callsigns are
                                reponsible for the organisation and connection between ground and air forces. <br>Note:
                                This
                                callsign is not to be confused as a <abbr
                                    title="Joint Terminal Attack Controller">JTAC</abbr> as currently the role doesn't
                                fulfil the duties of
                                a <abbr title="Joint Terminal Attack Controller">JTAC</abbr>.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary">By 2Lt. Blu. & A1C. Hoofed</small>
                            <a href="/sop/hammer" class="btn btn-primary">View SOP</a>
                        </div>
                    </div>
                </div>

                <div class="col-md mb-3">
                    <div class="card card-aac">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-title">Concept: Angel Concept</h5>
                            <div>
                                <img src="/img/logo_new_thumb.png" alt="" class="img-fluid"
                                    style="max-width: 30px; height: auto; float: right;">
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This SOP details the procedures and practices used by GOL for
                                motorized infantry compositions. This includes, vehicle roles, dismount tactics,
                                communication protocols, vehicle ownership and manouvers.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary">By 2Lt. Blu.</small>
                            <a href="/sop/angel" class="btn btn-primary">View SOP</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col text-center my-4">
                    <p class="lead">More SOPs to follow soon...</p>
                </div>
            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>
        <script src="/scripts/popSops.js"></script>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>