/* MISC */

.hover-blocked {
    cursor: not-allowed;
}

.nav-icon {
    padding-left: 0.5rem;
}

.table-dark {
    --bs-table-bg: var(--blu-bg);
    --bs-table-striped-bg: #171e2b;
    --bs-table-hover-bg: #253044;
}

/* DASH */

.info-bubble {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    background-color: rgb(86, 108, 130);
    background-image: linear-gradient(180deg, rgb(86, 108, 130), 85%, rgb(51, 63, 77));
    /* border-bottom: #98c7ee solid 1px; */
    border-radius: 15px;
    padding-left: 10px;
    color: white;
    height: 110px;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.7));
}

.info-bubble:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.7));
}

.sub-nav > ul > li.nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.5%;
    margin: 1% 0;
}

#bubble-dash > div.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5%;
}

span.bubble-text {
    margin: 5px;
    margin-right: 10px;
    font-size: 24px;
    align-self: center;
}

.digit, .digit-secondary {
    display: flex;
    justify-content: center;
    background-color: #4aa3df;
    background-image: linear-gradient(180deg, #4aa3df, 75%, rgb(52, 98, 129));
    border-radius: 15%;
    padding: 10px;
    width: 110px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

.longDigit > span {
    width: 100% !important;
}

.longDigit {
    width: 310px;
    border-radius: 6%;
}

.digit-secondary {
    background-color: #ef5555;
    background-image: linear-gradient(180deg, #ef5555, 75%, rgb(129, 52, 52));
}

.digit > span, .digit-secondary > span {
    font-size: 28px;
    width: 110px;
    font-weight: bold;
    color: white;
    text-align: center;
    align-self: center;
}

.dashboard-extra-buttons {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.7));
}

#togglePassword, #toggleConfirmPassword {
    cursor: pointer;
    float: right;
    margin-left: -25px;
    margin-top: -30px;
    right: 10px;
    position: relative;
    font-size: 1.25em;
    z-index: 100;
}

.member-row {
    align-items: center;
}

#promotions-col, #loas-col {
    background-color: var(--bs-body-bg);
    /* background-image: linear-gradient(0deg, var(--bs-body-bg), rgb(33, 37, 45)); */
    background-image: linear-gradient(0deg, var(--blu-bg), rgb(33, 37, 45));
    border-radius: 10px;
    padding: 10px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.7));
    border-bottom: #98c7ee solid 1px;
    /* border-right: #ef5555 solid 1px; */
    transition: filter 0.3s ease;
}

#promotions-col:hover, #loas-col:hover {
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.7));
}

/* Users Dashboard */

.form-group {
    padding: 2% 0;
}

.form-group > label {
    font-size: 18px;
    font-weight: bold;
}

.form-group > select {
    width: 100%;
    padding: .375rem .75rem;
    border-radius: 5px;
    font-size: 16px;
}

.buttonsDiv {
    margin: 1%;
    justify-content: space-evenly;
    display: flex;
}

.buttonsDiv > button {
    padding: 10px 20px;
}

#membersTable {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.6));
}

#searchMemberTableInput {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.6));
}

#searchMemberTableInput:focus {
    outline: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

/* Badges Dashboard */

.badge-dash-image {
    width: 50%;
    height: 50%;
    border-radius: 10px;
    object-fit: cover;
}

#badgesTable > thead > tr > th {
    text-align: center;
}

#badgeTableBody > tr > td {
    text-align: center;
}

.form-check-input {
    width: 1.15em;
    height: 1.15em;
}

.form-check-input[type="checkbox"] {
    border-radius: .35em;
}

#badgeTableBody > tr > td > button.btn {
    margin: 5px 10px;
}

/* Ranks Dashboard */

.rank-image {
    max-width: 100px;
    max-height: 100px;
}

.rankDescription {
    font-size: smaller;
}

/* Medias */

@media only screen and (max-width: 850px) {

    main {
        padding: 0 1%;
    }

    main > .container {
        width: 90%;
    }

    .buttonsDiv {
        flex-direction: column;
        align-items: center;
        gap: 3vh;
    }

    .nav-pills .nav-link {
        font-size: 1rem;
    }

    .btn-secondary {
        color: #fff;
    }

    .dt-layout-table {
        overflow-x: scroll;
    }

    .badge-dash-image {
        width: 80%;
        height: 80%;
    }

    table {
        width: 100%;
        overflow: scroll;
    }

    tbody {
        width: 100%;
        overflow: scroll;
    }

    #bubble-dash > .row {
        flex-direction: column;
        gap: 3vh;
    }
}