:root {
  --bs-primary: rgb(34, 135, 173) !important;
  --bs-primary-rgb: transparent !important;
  --bs-btn-bg: #2287ad !important;
  --blu-bg: #212529;
}

svg.bi {
  width: 1.5em;
  height: 1.5em;
  fill: rgb(222,226,230);
}

svg.icon-secondary {
  width: 2em;
  height: 2em;
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary) !important;
  --bs-btn-border-color: var(--bs-primary) !important;
}

.nav-pills .nav-link.active {
  background-color: #2287ad;
}

body {
  background-color: var(--blu-bg);
  background-image: linear-gradient(to bottom right,#212529, #0b0c0e);
  min-height: 100vh;
}

.navbar-brand {
  font-size: 1.8em;
}

#navIcon {
  margin-right: 1rem;
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.nav-item:hover {
  color: white;
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

#video-background {
  height: 90vh;
  width: 100vb;
  position: absolute;
  /* right: 0; */
  /* top: 0; */
  min-width: 100%;
  min-height: 100%;
  /* background-color: rgba(0,0,0,0.4); */
}

#video-background::after {
  background-color: rgba(0, 0, 0, 0.45);
  width: 100vb;
  height: 100vh;
}

.spinner-wrapper {
  background-color: #000;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.8s;
}

.spinner-border {
  width: 5vh;
  height: 5vh;
}

#front-hero {
  background-image: "img/FlagGOL.png";
}

#front-logo {
  filter: drop-shadow(2px 4px 6px black);
  height: 28vh;
  transition: transform 0.5s;
}

#front-logo:hover {
  transform: scale(1.1);
}

.mainHead {
  font-size: 5vh;
}

.scaleText {
  font-size: 2vh;
}

.btn > a {
  text-decoration: none;
  color: white;
}

.btn-secondary {
  color: #474747;
  background-color: rgba(0,0,0,0);
}

.btn-secondary > a {
  color: #999999;
}

.arma-logos > img {
  height: 7.1vh;
  padding: 1vb 1vb;
  margin: 1vh 1vb;
}

.arma-logos-main > img {
  height: 10vh;
  margin: 1vh 1vb;
  filter: drop-shadow(2px 4px 6px black);
}

#frontButtons {
  margin-bottom: 5vh;
}

.feature > p, #icon-grid {
  color: rgb(119, 136, 153);
  text-align: justify;
}

.video-header {
  align-items: center;
  text-align: center;
}

.video-header > p {
  color: rgb(119, 136, 153);
}

.card-title {
  font-size: 1.2rem;
}

.card-title > a {
  text-decoration: none;
  color: white;
}

.card-text {
  color: #999999;
}

.card-author {
  font-size: 0.85rem;
  color: #596068;
}

h3.fs-2 {
  transition: color 0.3s;
}

h3.fs-2:hover {
  color: #2287ad;
}

.feature-icon {
  transition: transform 0.3s;
  transform-origin: 0% 50%;
}

.feature-icon:hover {
  transform: scale(1.1);
  cursor: text;
}

.feature > p {
  transition: color 0.3s;
}

.feature > p:hover {
  color: var(--bs-body-color);
}

/* Roster Page */

.rank-icon {
  height: 4.5rem;
}

.roster-col-lg {
  text-align: right;
}

.roster-col-sm {
  text-align: left;
}

.nation-col > img {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  /* filter: drop-shadow(2px 5px black); */
}

.nation-img {
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  /* filter: drop-shadow(2px 5px black); */
  display: inline;
  margin-left: 0.75rem;
}

.rank-title {
  font-weight: lighter;
  padding-bottom: 0.5em;
}

#hellfish-logo {
  height: 8rem;
}

.roster-user {
  cursor: pointer;
  display: inline;
  text-decoration: none;
  color: white;
}

p.roster-user > a {
  text-decoration: none;
  color: white;
  display: inline;
}

p.roster-user > a:hover {
  color: #2287ad;
  transition: color 0.3s;
}

.roster-user:hover {
  color: var(--bs-primary);
  transition: color 0.5s;
}

.h3 {
  margin-bottom: 0.5em;
}

footer {
  font-size: 1vh;
  align-items: center;
  text-align: center;
  background-color: #0f1114;
  border-top: 1px solid #474747;
}

.sm-img {
  height: 15vh;
}

#footerText {
  position: relative;
  top: 25%;
}

/* Profile Pages */

#countryImg {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}

/* ORBAT page */

.chart-container {
  background-color: #212529;
  background-image: linear-gradient(to bottom right,#1f2227, #131418);
  padding: 0;
  filter: drop-shadow(2px 0px 4px black);
  margin: 1% 10%;
  border: 2px solid white;
}

.svg-chart-container {
  width: 100%;
  height: 100%;
}

.name-div {
  font-size:15px;
  /* color:#FFFFFF; */
  margin-left:20px;
  margin-top:10px;
  /* text-decoration:none */
}

.name-div > a {
  text-decoration: none;
  color: #FFFFFF;
}

.name-div > a:hover {
  color: #a2c2ce;
  transition: color 0.3s;
}

/* Profile page */

.pinfoElement > p {
  border: #495057 1px solid;
  padding: 1rem 0;
}

.leftInfoElement {
  margin-right: 10em;
}

#pNameElement > p {
  font-size: 3rem;
  font-weight: lighter;
  border: #495057 1px solid;
  padding: 1rem 0;
}

#profileImgDiv {
  position: relative;
  top: 0;
  left: 6vh;
  width: 15em;
  height: 15em;
}

.label {
  font-weight: bold;
}

.profileHero {
  margin: 2em 0;
  margin-top: 10em;
}

#profileImg {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  filter: drop-shadow(2px 4px 6px black);
  position: relative;
}

#rankImg {
  height: 5em;
  width: 5em;
  position: absolute;
  bottom: 0;
  left: 0;
  filter: drop-shadow(2px 4px 6px black);
}

.badgeImg {
  width: 15em;
  filter: drop-shadow(2px 4px 6px black);
  transition: transform 0.7s;
}

.badgeImg:hover {
  transform: scale(1.1);
}

.badgeCap {
  font-size: 0.8rem;
  font-weight: lighter;
}

#badgeDiv {
  margin: 2em 0;
}

#qualDiv {
  margin: 2em 0;
}

/* Badges */

.card-img-top {
  scale: 0.8;
  filter: drop-shadow(2px 4px 6px black);
  transition: transform 0.7s;
}

.card-img-top:hover {
  transform: scale(1.1);
}


/* Medias */

@media screen and (max-width: 1050px) and (min-width: 511px) {
  #profileImgDiv {
    height: 10em;
    width: 10em;
    left: 0.5rem;
  }

  #rankImg {
    height: 3.5em;
    width: 3.5em;
  }

  .leftInfoElement {
    margin-right: 0;
  }

  #pNameElement > p {
    font-size: 2.5rem;
  }

  #playerRank {
    font-size: 2rem;
  }

  .pinfoElement > p {
    width: 100%;
    height: 80%;
    padding: 0.2rem 0;
  }
}

@media screen and (max-width: 510px) {
  .nav {
    justify-content: center;
  }

  .nav-item {
    width: 40%;
    text-align: center;
    font-size: 1.2rem;
  }

  .roster-col-sm {
    width: 30%;
  }

  .roster-col-lg {
    width: 60%;
    text-align: center;
  }

  .rank-title {
    font-size: 1.8rem;
  }

  .roster-user {
    font-size: 1.5rem;
  }

  .chart-container {
    margin: 0 0;
    height: 30rem;
  }

  #profileImgDiv {
    height: 6em;
    width: 6em;
    left: 0.5rem;
  }

  #rankImg {
    height: 2.5em;
    width: 2.5em;
  }

  .leftInfoElement {
    margin-right: 0;
  }

  #pNameElement > p {
    font-size: 2.5rem;
  }

  #playerRank {
    font-size: 2rem;
  }

  .pinfoElement > p {
    width: 100%;
    height: 80%;
    padding: 0.2rem 0;
  }

  .label {
    font-size: 0.8rem;
    padding: 0 0.2rem;
    padding-bottom: 0.5rem;
  }
}