:root {
  --bs-primary: rgb(34, 135, 173) !important;
  --bs-primary-border: rgb(19, 78, 99) !important;
  --bs-primary-rgb: transparent !important;
  --bs-btn-bg: #2287ad !important;
  --blu-bg: #212529;
  --blu-body-color: rgb(119, 136, 153);
  --blu-secondary: rgb(212, 61, 37);
}

* {
  box-sizing: border-box;
}

.sec-highlight {
  color: var(--blu-secondary);
}

svg.bi {
  width: 1.5em;
  height: 1.5em;
  fill: rgb(222, 226, 230);
}

svg.icon-secondary {
  width: 2em;
  height: 2em;
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary) !important;
  --bs-btn-border-color: var(--bs-primary) !important;
}

.nav {
  align-content: center;
}

header {
  height: 85px;
  margin: auto 1em;
  justify-content: space-between;
}

#headerLogo {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.nav-pills .nav-link.active {
  background-color: var(--bs-btn-bg);
}

#hamburger {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger div {
  width: 2.5rem;
  height: 0.3rem;
  background-color: var(--bs-primary);
  margin: 0.4rem auto;
  transition: all 0.3s ease-in-out;
}

.open .bar1 {
  transform: rotate(45deg) translate(0.5rem, 0.5rem);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: rotate(-45deg) translate(0.5rem, -0.5rem);
}

.open #hamburger {
  background-color: var(--bs-primary);
}

.open #hamburger div {
  background-color: var(--bs-primary);
}

.open .mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-nav {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 85px;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.75);
  list-style: none;
  z-index: 9999;
  padding: 0;
}

body {
  background-color: var(--blu-bg);
  background-image: linear-gradient(to bottom right, #212529, #0b0c0e);
  min-height: 100vh;
}

.navbar-brand {
  font-size: 1.8em;
}

#navIcon {
  margin-right: 1rem;
  height: 2.2em;
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.nav-item:hover {
  color: white;
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

#hero {
  background-image: url("/img/GOLPromo.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 95vh;
  text-align: center;
  border-image: fill 1 linear-gradient(to bottom right, #212529aa, #0b0c0eaa);
}

/* #background-gif::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
} */

#video-background {
  height: 90vh;
  width: 100vb;
  position: absolute;
  /* right: 0; */
  /* top: 0; */
  min-width: 100%;
  min-height: 100%;
  /* background-color: rgba(0,0,0,0.4); */
}

#video-background::after {
  background-color: rgba(0, 0, 0, 0.45);
  width: 100vb;
  height: 100vh;
}

#second-feature {
  background-image: url("/img/parker-img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 40vh;
  text-align: center;
  border-image: fill 1 linear-gradient(to bottom right, #212529aa, #0b0c0eaa);
}

.spinner-wrapper {
  background-color: #000;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.8s;
}

.spinner-border {
  width: 5vh;
  height: 5vh;
}

#front-logo {
  filter: drop-shadow(2px 4px 6px black);
  height: 28vh;
  transition: transform 0.5s;
}

#front-logo:hover {
  transform: scale(1.1);
}

.mainHead {
  font-size: 5vh;
}

.scaleText {
  font-size: 2vh;
}

.btn>a {
  text-decoration: none;
  color: white;
}

.btn-secondary {
  color: #474747;
  background-color: rgba(0, 0, 0, 0);
}

.btn-secondary>a {
  color: #999999;
}

.arma-logos>img {
  height: 7.1vh;
  padding: 1vb 1vb;
  margin: 1vh 1vb;
}

.arma-logos-main>img {
  height: 10vh;
  margin: 1vh 1vb;
  filter: drop-shadow(2px 4px 6px black);
}

#frontButtons {
  margin-bottom: 5vh;
}

.feature>p,
#icon-grid {
  color: var(--blu-body-color);
  text-align: justify;
}

.video-header {
  align-items: center;
  text-align: center;
}

.video-header>p {
  color: var(--blu-body-color);
}

.card {
  height: 100%;
  border-bottom: 2px solid red;
}

div.card-body>div {
  position: relative;
  top: 0;
}

.card-title {
  font-size: 1.2rem;
}

.card-title>a {
  text-decoration: none;
  color: white;
}

.card-text {
  color: #999999;
}

.card-author {
  font-size: 0.85rem;
  color: #596068;
}

h3.fs-2 {
  transition: color 0.3s;
}

h3.fs-2:hover {
  color: #2287ad;
}

.feature-icon {
  transition: transform 0.3s;
  transform-origin: 0% 50%;
}

.feature-icon:hover {
  transform: scale(1.1);
  cursor: text;
}

.feature>p {
  transition: color 0.3s;
}

.feature>p:hover {
  color: var(--bs-body-color);
}

/* Roster Page */

.rank-icon {
  height: 4.5rem;
}

.roster-col-lg {
  text-align: right;
}

.roster-col-sm {
  text-align: left;
}

.nation-col>img {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  /* filter: drop-shadow(2px 5px black); */
}

.nation-img {
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  /* filter: drop-shadow(2px 5px black); */
  display: inline;
  margin-left: 0.75rem;
}

.rank-title {
  font-weight: lighter;
  padding-bottom: 0.5em;
}

#hellfish-logo {
  height: 8rem;
}

.roster-user {
  cursor: pointer;
  display: inline;
  text-decoration: none;
  color: white;
}

p.roster-user>a {
  text-decoration: none;
  color: white;
  display: inline;
}

p.roster-user>a:hover {
  color: #2287ad;
  transition: color 0.3s;
}

.roster-user:hover {
  color: var(--bs-primary);
  transition: color 0.5s;
}

.h3 {
  margin-bottom: 0.5em;
}

footer {
  font-size: 1vh;
  align-items: center;
  text-align: center;
  background-color: #0f1114;
  border-top: 1px solid #474747;
}

.sm-img {
  height: 15vh;
}

#footerText {
  position: relative;
  top: 25%;
}

/* ORBAT page */

#orbatKey {
  justify-content: center;
}

#orbatStats {
  margin-top: 1%;
}

#orbatStats>* {
  border: 1px solid #ffffff00;
  transition: border 0.5s;
  border-radius: 20px;
  margin: 0 0.5em;
}

#orbatStats>*:hover {
  border: 1px solid #FFF;
}

#orbatStats>*>p.lead {
  margin: 0.5rem 0;
}

.focus-button>a {
  text-decoration: none;
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 20px;
  padding: 0.75rem;
  transition: background-color 0.3s;
}

.focus-button>a:hover {
  background-color: var(--bs-btn-bg) !important;
}

.highlight {
  font-weight: bold;
}

.key-button {
  border-radius: 20px;
  font-size: 1.25rem;
  border: 1px solid #FFF;
  /* font-weight: bold; */
  text-align: center;
  transition: background-color 0.3s, border-width 0.3s, border-color 0.3s;
}

.key-border {
  border-width: 2px !important;
}

.key-button:hover {
  background-color: var(--bs-btn-bg) !important;
  border: 1px solid #000;
}

.chart-container {
  background-color: #212529;
  background-image: linear-gradient(to bottom right, #1f2227, #131418);
  padding: 0;
  filter: drop-shadow(2px 0px 4px black);
  margin: 1% 2%;
  border: 2px solid white;
}

.svg-chart-container {
  width: 100%;
  height: 100%;
}

.name-div {
  font-size: 15px;
  /* color:#FFFFFF; */
  margin-left: 20px;
  margin-top: 10px;
  /* text-decoration:none */
}

.name-div>a {
  text-decoration: none;
  color: #FFFFFF;
}

.name-div>a:hover {
  color: #a2c2ce;
  transition: color 0.3s;
}

.node-bubble {
  transition: background-color 0.3s, border-width 0.15s;
}

.node-bubble:hover {
  background-color: #ffffff1e !important;
  border-width: 3px !important;
}

/* Profile Pages */

#countryImg {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}

.buttonDiv {
  border: #495057 1px solid;
  color: #000;
  margin-bottom: 1rem;
  padding: 0;
}

.profileButton {
  width: 100%;
  height: 100%;
  border: #495057 1px solid;
  font-weight: bold;
}

.profileButton-dd {
  width: 30%;
}

.d-sm-flex {
  height: 100%;
}

#promoteButton,
#promoteButtonDD {
  background-color: var(--bs-success);
}

#demoteButton,
#demoteButtonDD {
  background-color: var(--bs-danger);
}

.pinfoElement>p {
  border: #495057 1px solid;
  padding: 1rem 0;
}

.leftInfoElement {
  margin-right: 10em;
}

#pNameElement>p {
  font-size: 3rem;
  font-weight: lighter;
  border: #495057 1px solid;
  padding: 1rem 0;
}

#profileImgDiv {
  position: relative;
  top: 0;
  left: 6vh;
  width: 15em;
  height: 15em;
}

.label {
  font-weight: bold;
}

.profileHero {
  margin: 2em 0;
  margin-top: 10em;
  min-height: 10vh;
}

#profileImg {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  filter: drop-shadow(2px 4px 6px black);
  position: relative;
}

#rankImg {
  height: 5em;
  width: 5em;
  position: absolute;
  bottom: 0;
  left: 0;
  filter: drop-shadow(2px 4px 6px black);
}

.badgeImg {
  width: 15em;
  filter: drop-shadow(2px 4px 6px black);
  transition: transform 0.7s;
}

.badgeImg:hover {
  transform: scale(1.1);
}

.badgeCap {
  font-size: 0.8rem;
  font-weight: lighter;
}

#badgeDiv {
  margin: 2em 0;
}

#badgeDiv>div.row {
  align-items: center !important;
}

#qualDiv {
  margin: 2em 0;
}

#promo-content a,
#demo-content a {
  display: block;
  text-decoration: none;
  padding: 10px 15px;
  color: #FFF;
  transition: background-color 0.3s;
}

#promo-content a:hover,
#demo-content a:hover {
  background-color: var(--blu-secondary);
}

#promo-content,
#demo-content {
  display: none;
  background-color: #495057;
  position: absolute;
  z-index: 1;
  min-width: 100px;
  box-shadow: 2px 2px 5px black;
}

/* Badges */

.card-img-top {
  scale: 0.8;
  filter: drop-shadow(2px 4px 6px black);
  transition: transform 0.7s;
}

.card-img-top:hover {
  transform: scale(1.1);
}

/* Dashboard */

.sub-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.sub-nav>ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 1% 0;
  width: 80%;
}

.sub-nav>ul>li {
  background-color: rgb(86, 108, 130);
  border-radius: 15px;
  font-weight: bold;
}

.sub-nav>ul>li>a {
  color: #FFF;
}

.sub-nav>ul>li>img {
  width: 2em;
  height: 2em;
  border-radius: 100%;
}

/* Medias */

@media screen and (max-width: 1050px) and (min-width: 511px) {
  #profileImgDiv {
    height: 10em;
    width: 10em;
    left: 0.5rem;
  }

  #rankImg {
    height: 3.5em;
    width: 3.5em;
  }

  .leftInfoElement {
    margin-right: 0;
  }

  #pNameElement>p {
    font-size: 2.5rem;
  }

  #playerRank {
    font-size: 2rem;
  }

  .pinfoElement>p {
    width: 100%;
    height: 80%;
    padding: 0.2rem 0;
  }
}

@media only screen and (max-width: 850px) {

  header nav {
    display: none;
  }

  #hamburger {
    display: block;
    margin: auto 0;
  }

  #headerLogo {
    margin: 0 0;
  }

  .nav-item {
    padding: 0.3rem 0;
    color: rgb(147, 167, 187);
  }

  .nav {
    justify-content: center;
  }

  .nav-item {
    width: 40%;
    text-align: center;
    font-size: 1.2rem;
  }

  .roster-col-sm {
    width: 30%;
  }

  .roster-col-lg {
    width: 60%;
    text-align: center;
  }

  .rank-title {
    font-size: 1.8rem;
  }

  .roster-user {
    font-size: 1.5rem;
  }

  .chart-container {
    margin: 0 0;
    height: 30rem;
  }

  #profileImgDiv {
    height: 6em;
    width: 6em;
    left: 0.5rem;
  }

  #rankImg {
    height: 2.5em;
    width: 2.5em;
  }

  .leftInfoElement {
    margin-right: 0;
  }

  #pNameElement>p {
    font-size: 2.5rem;
  }

  #playerRank {
    font-size: 2rem;
  }

  .pinfoElement>p {
    width: 100%;
    height: 80%;
    padding: 0.2rem 0;
  }

  .label {
    font-size: 0.8rem;
    padding: 0 0.2rem;
    padding-bottom: 0.5rem;
  }
}